scraper/scripts/sheets/
scraper/scripts/*.html
scraper/scripts/nach.json
scraper/scripts/excel_list.txt
scraper/scripts/data/
scraper/scripts/ifsc-api/
scraper/scripts/release.md
/vendor/
composer.lock
node_modules
Gemfile.lock
*.gem
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles

# Elixir

/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
/priv/ifsc-data/
mix.lock
