scraper/scripts/sheets/
scraper/scripts/*.html
scraper/scripts/excel_list.txt
scraper/scripts/data/
/vendor/
composer.lock
node_modules
Gemfile.lock
*.gem
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
