scraper/
vendor/
composer.lock
composer.json
phpunit.xml
.gitignore
tests/php/
tests/ruby/
tests/elixir/
tests/fixture/exvcr/
priv/ifsc-data/
node_modules/
src/php/
src/ruby/
src/elixir/
Gemfile*
*.gem
*.gemspec
mix.exs
mix.lock
.editorconfig
.rubocop.yml
Rakefile
*.php
wercker.yml
_build
doc
deps
*.tar
fixture/
src/IFSC-list.json
.wercker
.phpunit.result.cache
