on:
  push:
  workflow_dispatch:
    inputs:
      release:
        description: Version
        required: false
name: Scraper
jobs:
  scraper:
    name: Run
    runs-on: ubuntu-latest
    steps:
      - name: Install ssconvert
        run: sudo apt-get -y --no-install-recommends install gnumeric
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0
          bundler-cache: true
      - name: Install scraper dependencies
        run: bundle install
        working-directory: scraper
      - name: Run scraper
        run: bash bootstrap.sh
        working-directory: scraper/scripts
      - name: Save artifacts
        uses: actions/upload-artifact@v2
        with:
          name: release-artifact
          path: |
            scraper/scripts/data/*
            ! scraper/scripts/data/by-bank.tar
  php:
    name: Post-scraper tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
          tools: phpunit, composer
      - run: composer install --no-interaction
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: release-artifact
          path: scraper/scripts/data
      - run: phpunit -d memory_limit=-1
        env:
          RUN_DATASET_TESTS: true
